/* common shared styles info */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 40px;

}

/* header related style info */

.header-main {
    background-color: rgba(229, 84, 115, 0.10);
}

/* nav related styles info */

/* banner related styles info */
.banner {
    padding: 10px 10px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
/* 
.banner-img {
    background-image: url(../images/pngwing\ 10.png);
    background-repeat: no-repeat;
    width: 635px;
    height: 791px;
    /* margin-right: 1000px; */
    /* float: right; */
} */

.banner-content {
    max-width: 800px;
    /* float: left; */
}

.banner .banner-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.para-fact {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.para_fact_align {
    text-align: center;
}




.featured-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
}

.section-desc {
    color: rgba(39, 39, 39, 0.60);
    /* max-width: 500px; */
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.featured-img {
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;

}

.featured-img1 {
    width: 350px;
    height: 400px;
    margin-left: 15px;
    margin-right: 20px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.featured-img1 img {
    width: 304px;
    height: 385px;
    margin: 14px;
}


.featured-img p {
    text-align: center;
    text-decoration: underline;
    margin-top: -5px;
}

.featured-img2 {
    width: 350px;
    height: 400px;
    margin-right: 20px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.featured-img2 img {
    width: 304px;
    height: 385px;
    margin: 14px;
}


.featured-img3 {
    width: 350px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.featured-img3 img {
    width: 304px;
    height: 385px;
    margin: 14px;

}

.offer-support {
    margin: 80px;
    padding: 50px;
    max-width: 1440px;
    border-radius: 8px;
    height: 200px;
    background: rgba(39, 39, 39, 0.05);
    align-items: center;
}

.offer-container {
    display: flex;
    justify-content: space-around;
}

.offer-container-info {
    display: flex;

}

.offer-container-info figure {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
}


/*.offer-info{
    align-items: center;
} */
.hot-deal {
    margin-top: 20px;
    display: flex;
    padding: 90px;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

#off {
    color: #E55473;
}

.hot-container{
    text-align: center;
    margin-top: 60px;
    
}

.hot-container p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
}


.hot-container button{
    margin-top: 15px;
    
} 

.intagram-sec{
    /* margin: 10px; */
    width: 1255px;
    height: 449px;
}

.instagram-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
}


.instagram-img {
    /* margin:  10px 20px 100px 20px;   */
    padding: 10px;
    display: flex;
    /* width: 1255px;
    height:449px; */

}

.instagram-img1 img{
    margin-right:10px;
    margin-left: 62px;
    width: 265px;
    height: 300px;

}



.instagram-img2 img{
    margin-right:10px;
    width: 265px;
    height: 300px;


}

.instagram-img3 img{
    margin-right:10px;
    width: 265px;
    height: 300px;


}


.instagram-img4 img{
    margin-right:10px;
    width: 265px;
    height: 300px;

}

.bg-pic {
    margin-top: 200px;    
    background-image: url(../images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 1255px;
    height: 449px;
    border-radius: 4px;

}

.get-head {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 20px;
    margin-bottom: 0px;
}

.form-control {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 16px 50px;
    margin: 8px 0px;
    display: inline-block;
    border: 0px solid #FFF;
    border-radius: 4px;
}
 
.extra-flower{
    background-color:#F6F6F6;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
} 

.extra-flower-info{
    width: 500px;
}


.extra-flower h4{
    color: rgb(255, 0, 25);

} 

#get{
    color: rgb(0, 50, 231);
}
.footer-sec {
    background: #111010;
 /* width: 1922px; */
    height: 359px;
    align-items: center;
    padding: 15px;
}

.footer-caption {
    margin-top: 60px;
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    align-items: center;
}

.footer-shop {
    color: white;
    font-size: 48px;
    font-weight: 800;
}

.footer-message {
    color: rgba(255, 255, 255, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.footer-copy{
    color: rgba(255, 255, 255, 0.40);
    font-size: 12px;
    font-weight: 400;

}

/* footer related style info */